<!-- Projects Section -->
@model List<Project>
<section id="portfolio" class="portfolio section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        <p>Here are some of the projects I've worked on, showcasing my skills in .NET development, web design, and responsive application development.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-webapp">Web Applications</li>
                <li data-filter=".filter-api">API Development</li>
                <li data-filter=".filter-uxui">UI/UX Design</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                @* <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-webapp">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/app-1.jpg" class="img-fluid" alt="Web App 1">
                        <div class="portfolio-info">
                            <h4>Web Application 1</h4>
                            <p>Developed a responsive web application using ASP.NET Core and Entity Framework for database management.</p>
                            <a href="~/img/portfolio/webapp-1.jpg" title="Web Application 1" data-gallery="portfolio-gallery-webapp" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-api">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/app-2.jpg" class="img-fluid" alt="API Project 1">
                        <div class="portfolio-info">
                            <h4>API Development 1</h4>
                            <p>Designed a RESTful API with .NET Core, providing secure and scalable services for mobile applications.</p>
                            <a href="~/img/portfolio/api-1.jpg" title="API Project 1" data-gallery="portfolio-gallery-api" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-uxui">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/app-3.jpg" class="img-fluid" alt="UI/UX Project 1">
                        <div class="portfolio-info">
                            <h4>UI/UX Design 1</h4>
                            <p>Created a user-friendly interface using HTML5, CSS3, and JavaScript, focusing on responsive and modern design.</p>
                            <a href="~/img/portfolio/uxui-1.jpg" title="UI/UX Project 1" data-gallery="portfolio-gallery-uxui" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-webapp">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/books-1.jpg" class="img-fluid" alt="Web App 2">
                        <div class="portfolio-info">
                            <h4>Web Application 2</h4>
                            <p>Developed an e-commerce platform with secure payment integration using .NET Core and Razor Pages.</p>
                            <a href="~/img/portfolio/webapp-2.jpg" title="Web Application 2" data-gallery="portfolio-gallery-webapp" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-api">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/product-1.jpg" class="img-fluid" alt="API Project 2">
                        <div class="portfolio-info">
                            <h4>API Development 2</h4>
                            <p>Created a microservice-based API architecture for an enterprise application using .NET Core and RabbitMQ.</p>
                            <a href="~/img/portfolio/api-2.jpg" title="API Project 2" data-gallery="portfolio-gallery-api" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-uxui">
                    <div class="portfolio-content h-100">
                        <img src="~/img/portfolio/branding-3.jpg" class="img-fluid" alt="UI/UX Project 2">
                        <div class="portfolio-info">
                            <h4>UI/UX Design 2</h4>
                            <p>Developed an interactive dashboard using JavaScript frameworks, ensuring seamless user interaction and data visualization.</p>
                            <a href="~/img/portfolio/uxui-2.jpg" title="UI/UX Project 2" data-gallery="portfolio-gallery-uxui" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Portfolio Item --> *@
                @foreach (var project in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-uxui">
                        <div class="portfolio-content h-100">
                            <img src="@project.image" class="img-fluid">
                            <div class="portfolio-info">
                                <h4>@project.name</h4>
                                <p>@project.description</p>
                                <a href="@project.image" title="UI/UX Project 2" data-gallery="portfolio-gallery-uxui" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="@project.link" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>
                }


            </div><!-- End Portfolio Container -->

        </div>

    </div>

    <div class="mt-4 d-flex justify-content-center">
        <a href="/Project/Add" class="btn btn-primary"> Add Project </a>
    </div>

</section><!-- /Projects Section -->
